/* Set the flex container properties */
.container {
    font-family: "minion-pro", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* Set the width of the columns */
  .left-column {
    flex: 1;
    max-width: 50%;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  /* Vertically center the image */
  .left-column img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  /* Style the text in the right column */
  .right-column h1 {
    font-family: "minion-pro-condensed-display", serif;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: 0.02em;
    font-style: italic;
    font-size: 6rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .right-column p {
    font-family: "minion-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    text-align: left;
  }
  
  .right-column a {
    color: #7C4DFF;
  }

  
  footer {
    text-align: center;
    font-family: "minion-pro", serif;
    font-weight: 400;
    margin-top: auto;
    padding: 10px 0;
  }
  
  /* Add a breakpoint for smaller screens */
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
    
    .left-column, .right-column {
      max-width: 100%;
      justify-content: center;
    }
  }
  